[Unit]
Description=App
After=syslog.target

[Service]
EnvironmentFile=/etc/default/appConfiguration
ExecStart=/bin/bash -c "java -jar -Dspring.profiles.active=$SPRING_PROFILE /root/app/app.jar"
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target